.greeting-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* .greeting-container div:nth-child(1) {
    display: flex;
    flex-direction: column;
} */

.greeting-container div>p:nth-child(2) {
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: bold;
}