.heading-container{
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.heading-container h1{
    font-size: 1.1em;
    font-weight: 700;
}